---
repos:
  - repo: local
    hooks:
      # --- Formatters / style ---
      - id: black
        name: black
        entry: env PYTHONPATH=. uv run black
        language: system
        types: [python]
        args: ["--line-length=120"]

      - id: isort
        name: isort
        entry: env PYTHONPATH=. uv run isort
        language: system
        types: [python]
        args: ["--profile", "black"]

      - id: flake8
        name: flake8
        entry: env PYTHONPATH=. uv run flake8
        language: system
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        entry: env PYTHONPATH=. uv run pydocstyle
        language: system
        types: [python]

      - id: pylint
        name: pylint
        entry: env PYTHONPATH=. uv run pylint
        language: system
        pass_filenames: false
        args: ["bin"]

      - id: yamllint
        name: yamllint
        entry: env PYTHONPATH=. uv run yamllint
        language: system
        pass_filenames: false
        args: ["-s", ".pre-commit-config.yaml", ".yamllint.yaml"]

      # --- Security / quality gates ---
      - id: bandit
        name: bandit
        entry: env PYTHONPATH=. uv run bandit
        language: system
        pass_filenames: false
        args: ["-q", "-r", "ld_common", "-x", "tests"]

      - id: detect-secrets
        name: detect-secrets
        entry: env PYTHONPATH=. uv run detect-secrets-hook
        language: system
        pass_filenames: false

      # - id: pip-audit
      #   name: pip-audit
      #   entry: env PYTHONPATH=. uv run pip-audit
      #   language: system
      #   pass_filenames: false

      - id: codespell
        name: codespell
        entry: env PYTHONPATH=. uv run codespell
        language: system
        args: ["-x  uv.lock"]

      # --- Tests / runners ---
      - id: pytest
        name: pytest
        entry: env PYTHONPATH=. uv run pytest -v --no-cov
        language: system
        pass_filenames: false
